<div class="container my-5">
  <!-- Section: Intro -->
  <section class="text-center mb-4">
    <h4 class="mb-4">
      <strong
        >Picture of the Day (<u id="intro-date">{{ jour | date: "longDate" }}</u
        >)</strong
      >
    </h4>

    <p>
      Chaque jour, une image ou une photographie différente de notre univers
      fascinant est présentée, accompagnée d'une brève explication écrite par un
      astronome professionnel.
    </p>
  </section>
  <!-- Section: Intro -->

  <!-- Section: Demo -->
  <section class="mb-4">
    <!-- Section: Date -->
    <section class="mb-4">
      <!-- Datepicker -->
      <div
        class="form-outline datepicker"
        data-mdb-toggle-button="true"
        data-mdb-format="yyyy-mm-dd"
        id="date-picker"
      >
        <input
          type="date"
          class="form-control"
          id="wrapper-date"
          data-mdb-toggle="datepicker"
          [(ngModel)]="jour"
          [value]="jour"
          (change)="getImage()"
        />
        <label for="exampleDatepicker1" class="form-label"
          >Selectionnez une date</label
        >
      </div>
    </section>
    <!-- Section: Date -->

    <div class="row">
      <div class="col-md-8 mb-4 mb-md-0">
        <!-- Section: Media -->
        <img class="col" [src]="imgOfTheDay.url" [alt]="imgOfTheDay.title" />
        <!-- Section: Media -->
      </div>

      <div class="col-md-4 mb-4 mb-md-0">
        <!-- Section: Description -->
        <section class="">
          <h5 id="wrapper-title">{{ imgOfTheDay.title }}</h5>
          <p class="text-muted mb-2">
            Copyright:
            <span id="wrapper-copyright">{{ imgOfTheDay.copyright }}</span>
          </p>
          <p id="wrapper-explanation">{{ imgOfTheDay.explanation }}</p>
        </section>
        <!-- Section: Description -->
      </div>
    </div>
  </section>
  <!-- Section: Demo -->
</div>
